body{
  margin: 0;
  padding: 0
}
html {

  scrollbar-width: auto;
  scrollbar-color: gray transparent;
}

/* Track */
::-webkit-scrollbar {
  background-color: transparent ;
  width: 4px;
}

::-webkit-scrollbar:hover {
  background-color: transparent;
  width: 4px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

/* Handle hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}  

 